* {
	box-sizing: border-box;
}

html{

    background-color: #E5E5E5;
}

.body{
    padding-top: 84px;
    display: flex;
    justify-content: center;
    height: 100%;
}

.menu{
    height: 54px;

    background: #FFFFFF;

    border-bottom: 1px solid #DBDBDB;

    position: fixed;
    top: 0;
    z-index: 2;

    width: 100%;

    justify-content: center;
    display: flex;
    align-items: center; 
}

.menu-box{
    width: 935px;

    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0 22px;
}

.menu input{
    background: #FAFAFA;

    width: 215px;
    height: 28px;

    text-align: center;

    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
}

.menu div{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.divisao{
    width: 1px;
    height: 22px;
    background: #DBDBDB;
    margin: 0 10px;
}

ion-icon{
    font-size: 19px;
}

.icones{
    justify-content: space-between;
    width: 160px;
}

.conteudo{
    width: 935px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.teste{
    position: absolute;
    right: 0;
}

.storys{
    width: 614px;
    height: 118px;

    border: 2px solid #DBDBDB;
    border-radius: 3px;

    background: #FFFFFF;

    margin-bottom: 24px;

    display: flex;
    align-items: center;
    overflow:hidden;
    position: relative;
}

.story{
    text-align: center;

    margin-left: 14px;
}

.logo{
    background-image: url(/img/stories_backgroun.png);
    background-repeat: no-repeat;
    width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.story img{
    width: 56px;
    height: 56px;
    cursor: pointer;
}

.passador{
    position: absolute;
    z-index: 1;
    top: 46px;
    right: 10px;
    cursor: pointer;
}

.arrow{
    color: #FFFFFF;
    font-size: 28px;
    filter: drop-shadow(0px 0px 8px rgb(0, 0, 0, 50%));
}

.post{
    width: 612px;
    margin-bottom: 60px;

    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;

}

.post video{
    width: 612px;
    height: auto;
}

.post-topo{
    height: 60px;
    justify-content: space-between;
    padding: 0 17px;
}

.post div{
    display: flex;
    align-items: center;
}

.post-topo img{
    width: 32px;
    cursor: pointer;
    border-radius: 100%;
}

.post h2{
    padding-left: 15px;
}

.post-icons{
    padding-right: 17px;
    font-size: 25px;
}

.post-ferramentas{
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 17px;
}

.img-curtida{
    width: 20px;
    height: auto;
    padding-right: 5px;

    cursor: pointer;
}

.curtidas{
    padding-left: 17px;
}

.comentarios{
    padding: 5px 17px;
    display: flex;
    justify-content: space-between;
}

.comentarios .like{
    font-size: 15px;
}

.hover{
    cursor: pointer;
}

.hover:hover{
    color:rgb(100, 93, 93);
}

.conta{
    position: fixed;
    top: 111px;
    transform: translateX(218%);
    width: 293px;
}

.perfil{
    display: flex;
    align-items: center;

    margin-bottom: 24px;
}

.perfil img{
    width: 56px;
    height: auto;

    border-radius: 100%;

    margin-right: 17px;
    cursor: pointer;
}

.sugestoes{
    display: flex;
    align-items: center;
    justify-content:space-between;

    margin-bottom: 17px;
}

.seguir , .seguir-perfil{
    display: flex;
    align-items: center;
    justify-content:space-between;

    margin-bottom: 7px;
}

.seguir img{
    width: 32px;
    height: auto;

    margin-right: 11px;
    cursor: pointer;
}

.comentar{
    display: flex;
    justify-content: space-between;
    padding: 17px;
    align-items: center;

    border: 1px solid #DBDBDB;

    margin-top: 15px;
}

.comentar .barra-comentar, .comentar input{
    width: 100%;
    height: 100%;
    border: none;
}

.comentar button{
    background-color: none;
    background: none;
    border: none;
    cursor: pointer;

    font-family: Roboto;
    color: #B2DFFC;
}

.comentar button:hover{
    color: #0095F6;
    transition: 300ms;
}

.comentar textarea:focus, .comentar input:focus, .comentar select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.post h2{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #262626;

    cursor: pointer;
}

.conta h4{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;

    cursor: pointer;
}

.conta h5{
    color: #8E8E8E;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}

.conta h6{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #262626;

    cursor: pointer;
}

.conta .perfil p {
    color: rgb(142, 142, 142, 60%);
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    cursor: pointer;
}

.conta p{
    font-family: Roboto;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;

    color: #C7C7C7;

}

.storys p {
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #262626;

    cursor: pointer;
}

.curtidas p, .comentarios p{
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    color: #000000;

    cursor: pointer;
}

.conta span{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #139EF2;

    cursor: pointer;
}

.mostrar-mobile{
    display: none;
}

.menu-mobile{
    display: none;
}

.carregar{
    text-align: center;
    width: 612px;

}

@media (max-width: 935px){
    .conta{
        display: none;
    }
    .conteudo{
        width: 612px;
    }
}

@media (max-width: 614px){
    .conteudo, .post{
        width: 100%;
    }

    .body{
        padding-top: 54px;
    }

    .storys{
        background: #E5E5E5;
        margin-bottom: 0;
    }
    .mobile{
        display: none !important;
    }

    .mostrar-mobile{
        display: inline;
    }

    .icones{
        width: auto;
    }

    .foto{
        width: 100%;
    }

    .storys{
        width: 100%;
    }

    .menu-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: fixed;
        bottom: 0;
        z-index: 2;
        background-color: #FFFFFF;

        padding: 0 22px;
        width: 100%;
        height: 54px;
    }

    .post video{
        width: 100%;
    }
}